<?xml version="1.0" encording="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
    <title>QKD Video http Stream Server Trial</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body style="background-image: url('../static/images/bgimg3.png');">

    <h1 style="color:white"><img src="../static/images/logoSingtel.png" usemap="#linkmap" alt="trustwave log" width="200"
            style="float: left; padding: 10px;">
            QKD Video http Stream Server Trial
    </h1>

<pre style="color:white"><a id = Video1> 
Sample Video 1: 1280 X 960 25fps
</pre>
<hr>
<video width="1280" height="960" controls>
    <source src="../static/images/Test1.mp4" type="video/mp4">
    Your browser does not support HTML5 video.
</video>
<hr>

<pre style="color:white"><a id = Video1> 
    Sample Video 2: 1920 X 1080 30fps
</pre>

<hr>
<video width="1280" height="960" controls>
    <source src="../static/images/Test2.mp4" type="video/mp4">
    Your browser does not support HTML5 video.
</video>

<hr>
<a href="mailto:liu_yuan_cheng@hotmail.com?subject=Report A problem&body=found a bug"> Report a problem </a>
</body>

</html>